<div class="page-wrapper">
 
  <div class="page-container">
    <!-- HEADER DESKTOP-->
    <header class="header-desktop">
      <div class="section-content">
        <div class="container-fluid">
          <div class="header-wrap">
              <button class="btn btn-primary" routerLink="ask_question" routerLinkActive="active-link" style="background-color:brown">Ask Question</button>
              
              <button class="btn btn-primary" routerLink="home" routerLinkActive="active-link" style="background-color:brown">Home</button>
              
              <app-search></app-search>
          </div>
          <div class="account-wrap"></div>
        </div>
      </div>
    </header>
    <!-- END HEADER DESKTOP-->

    <!-- MAIN CONTENT-->
    <!-- <app-product-list></app-product-list> -->
    <router-outlet></router-outlet>

      <!-- END MAIN CONTENT-->

  
    <router-outlet></router-outlet>
</div>
</div>