<div class="main-content page-m ">
    <div class="section-content">
        <div class="container-fluid">
            <form [formGroup]="registerFormGroup" (ngSubmit)="onSubmit()" >
            <div formGroupName="user" class="form-area" >
                <h3> User register</h3>

                <div class="row">
                    <div class="col-md-2"> <label>Name</label></div>
                    <div class="col-md-9">
                        <div class="input-space">
                            <input formControlName="name" type="text">
                        </div>
                    </div>
                </div>


                <div class="row">
                    <div class="col-md-2"> <label>Email</label></div>
                    <div class="col-md-9">
                        <div class="input-space">
                            <input formControlName="email" type="text">
                        </div>
                    </div>
                </div>


                <div class="row">
                    <div class="col-md-2"> <label>Password</label></div>
                    <div class="col-md-9">
                        <div class="input-space">
                            <input formControlName="password" type="text">
                        </div>
                    </div>
                </div>


                <div class="row">
                    <div class="col-md-2"> <label>Repeat password</label></div>
                    <div class="col-md-9">
                        <div class="input-space">
                            <input formControlName="password_2" type="text">
                        </div>
                    </div>
                </div>

                
                
            </div>
            <div class="text-center">
                <button type="submit" class="btn btn-info">Register</button>
            </div>
            <a routerLink="login" routerLinkActive="active-link" >Log In</a>
            </form>
        </div>
    </div>
</div>